.TimerContainer {
    color: white;
    flex-direction: column;
    display: flex;
    height: 400pt;
    width: 300pt;
    border: 2px aqua solid;
    background-color: black;
  }
  
  .timer{
    width: 100%;
    height: 150pt;
    font-size: 50pt;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .line{
    display: flex;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
  }
  
  .buttonLine{
    display: flex;
    width: 100%;
    height: 100pt;
    justify-content: space-around;
  }
  
  .Buttons{
    margin-top: 10px;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px white solid;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
  }
  
  .start{
    color: greenyellow;
    background-color: darkgreen;
  }
  .stop{
    background-color: brown;
    color: palevioletred;
  }
  .clear{
    color: black;
    background-color: whitesmoke;
  }
  
  .lap{
    display: flex;
    justify-content: space-around;
  }